%background-orange{
    background-color: var(--color-orange);
}
%text-orange{
    color: var(--color-orange) !important;
}
%background-white{
    background-color: var(--color-white);
}
%text-dark{
    color: var(--color-dark);
}
%text-grey{
    color: var(--color-grey);
}
%text-white{
    color: var(--color-white);
}
%text-black{
    color: var(--color-black);
}
