%background-orange{
    background-color: var(--color-orange);
}
%text-orange{
    color: var(--color-orange) !important;
}
%background-white{
    background-color: var(--color-white);
}
%text-dark{
    color: var(--color-dark);
}
%text-grey{
    color: var(--color-grey);
}
%text-white{
    color: var(--color-white);
}
%text-black{
    color: var(--color-black);
}
%text-grey-3{
    color: var(--color-light-grey-3);
}
%inline{
    margin-left: auto;
    margin-right: auto;
    padding-left:0.5rem;
    padding-right:0.5rem;
}
%max{
    &-lg{
        max-width: var(--max-lg-width);
        @extend %inline;
        
    }
    &-md{
        max-width: var(--max-md-width);
        @extend %inline;
    }
}

%fw{
    &-700{
        font-weight: var(--weight-700);
    }
    &-600{
        font-weight: var(--weight-600);
    }
    &-500{
        font-weight: var(--weight-500);
    }
}