@use "mixin"as *;

.prefield {
    &-sec {
        margin-top: 110px;
        padding: 0 .5rem;
    }

    &-card {
        background-color: var(--color-white);
        padding: 1.875rem; //30px
        max-width: 859px;
        margin: 3.85rem 0;

        @include mediaMin(md) {
            padding: 3.75rem;
        }
    }
}