$grey:#808080;
$orange:#FF4E00;
$orange-1:#FF5910;
$dark:#111112;
$dark-1:#181818;
$dark-2:#222222;
$dark-3:#181818;
$hsl-dark-1:240 2% 9%;
$white:#FFFFFF;
$box-shadow:#70707029;
$light-grey:#F4F6F8; 
$hsl-dark:240 3% 7%;
$white-2:hsla(18, 100%, 50%, 0);
$light-grey-2:#EDEDED;
$light-grey-3:#ccc;
$light-grey-4:#8C8C8C;
$black: #000000;
$bg-gray: #FAFAFA;
$border: #EDEDED;