@use "../utility/mixin" as *;

html{
    font-size: 0.935rem;
    @include mediaMin(xxxl){
        font-size: 1rem;
    }
    
}
body{
    background-color: var(--color-light-grey);
    font-weight: var(--weight-400);
    font-family: var(--font-family);
}



