@use "../utility/reuseble" as *;
@use  "../utility" as *;

.banner{
    &-wrapper{
        position: relative;
        background: url('../../images/banner.png') no-repeat;
        color: var(--color-light-grey);
        background-position: 60%;
        background-size: cover;
        @include mediaMin(xl){
            background-position:100%;
        }
    }
    &-innerwrap{
        min-height: 100vh
    }
    &-content{
       max-width: 300px;
        @include mediaMin(sm){
        max-width: 410px;
        }
        @include mediaMin(md){
            max-width: 500px;
        }
        @include mediaMin(xxl){
            max-width: 640px;
        }
        
    }
    &-title{
        font-size: 1.9525rem;
        font-weight: var(--weight-700);
        @include mediaMin(sm){
            font-size: 2.5rem;
        }
        @include mediaMin(md){
            font-size: 3.35rem;
        }
        @include mediaMin(xxl){
            font-size: 4.125rem;
            line-height: 72px;
        }
    }
    &-para{
        font-size: 1.25rem;
        margin: 1.5rem 0 1.125rem;
    }
}

%padding-block{
    padding:4.0625rem .5rem;
    @include mediaMin(xxl){
        padding: 8.125rem 0.5rem;
    }
}
.about{
    &-sec{
        @extend %padding-block;
        background-color: var(--color-bg-gray);
    }
    &-content{
        margin-bottom: 2.5rem;
        & > * + *{
            margin-top: 1.5rem;
        }
        @include mediaMin(lg){
            margin-bottom: initial;
        }
        @include mediaMin(xxl){
            padding-left: 1.875rem;
            & > * + *{
                margin-top: 1.875rem;
            }
        }
    }
    &-heading{
        max-width: 300px;
        @include mediaMin(sm){
            max-width: 400px;
        }
        @include mediaMin(lg){
            max-width: 100%;
        }
    }
    &-para{
        margin-bottom: 1.25rem;
        & > * + *{
            margin-top: 1.25rem;
        }
    }
    @include mediaMin(md){
        &-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.gallery{
    &-sec{
        @extend %padding-block; 
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    &-subpara{
        margin: 1.875rem 0 1.25rem;
        color: var(--color-light-grey-4);
    }
    &-card{
        display: grid;
        max-width: 1920px;
        margin: 0 auto;
        grid-template-columns: repeat(2,1fr);
        @include mediaMin(md){
            grid-template-columns: repeat(3,1fr);
        }
        @include mediaMin(lg){
            grid-template-columns: repeat(4,1fr);
        }
        @include mediaMin(xxl){
            grid-template-columns: repeat(5,1fr);
        }
        &--wrapper{
            display: flex;
        }
        &--box{
            position: relative;
            overflow: hidden;
            &:hover{
                & .gallery-card--overlay{
                    transform: translateY(00%) scale(1);
                }
            }
        }
        &--overlay{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.125rem;
            text-align: center;
            position: absolute;
            inset: 0;
            background-color: hsl(var(--color-hsl-dark-1) / 0.9);
            transform: translateY(-200%) scale(2);
            transition: transform 0.35s ease-in-out;
        }
        &--label{
            font-size: 1.125rem;
            @extend %text-white;
        }
        @include mediaMin(md){
            &--overlay{
            padding: 1.5rem;
            }
            &--label{
                font-size: 1.5rem;
            }
        }
        @include mediaMin(xl){
            &--label{
                font-size: 1.875rem;
            }
        }
    }
}