@use "../utility"as *;
@use "../utility/reuseble"as *;

// button


.btn {
    padding: .9375rem 1.25rem;
    font-size: 1.125rem;
    border-radius: .3125rem;
    text-transform: capitalize;
    line-height: normal;
    font-weight: var(--weight-700);
    position: relative;
    overflow: hidden;
    &-white {
        color: var(--color-dark);
        background-color: var(--color-white);
        box-shadow: 0px 12px 38px var(--color-box-shadow);
    }

    &-outline {
        border: 3px solid var(--color-orange);
        background-color: var(--color-white-2);
    }

    &-orange {
        color: var(--color-white);
        background-color: var(--color-orange);
        box-shadow: 0px 12px 38px var(--color-box-shadow);
        @extend %background-orange;
        &:hover,
        &:focus {
            color: var(--color-white) !important;
        }
    }

    &-google {
        margin: 1.25rem 0;
        @extend %fw-600;
        & .google-icon {
            display: inline-block;
            width: 1.25rem;
            margin-right: 1rem;
        }
    }

    &-signup {
        width: 100%;
        @include mediaMin(md) {
            width: 50%;
        }
    }
    &-lg{
        @include mediaMin(lg){
            padding: 0.875rem 1.5rem;
            height: 49px;
        }
        @include mediaMin(xxl){
            padding: .875rem 3.4125rem;
        }
    }
    &-circles {
		position: absolute;
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		background:currentColor;
		transform: translate(-50%, -50%) scale(0);
		transition: 0.3s all;
		animation: scaling 0.35s ease-in-out;
	}
}


// Section: Keyframe
@keyframes scaling {
	to {
		opacity: 0;
		transform: translate(-50%, -50%) scale(3);
	}
}
