@use "../utility/reuseble"as *;
@use "../utility"as *;

.header {
    padding: 1.5rem 0rem;
    background-color: var(--color-dark);
    z-index: 2;
    width: 100%;
    top: 0;
    @include mediaMin(xl){
        padding: 1.813rem .4rem;
    }
    &-brand {
        max-width: 65%;
        @include mediaMin(sm) {
            max-width: 100%;
        }
    }
    &-nav {
        max-width: 1406px;
        margin: auto;
    }
    &-list {
        padding: 1.25rem 1.25rem 0;
        @include mediaMin(lg){
            padding: unset;
            margin-left: 3rem;
            &>*+* {
                margin-left: 1rem;
            }
        }
        @include mediaMin(xl){
            padding: unset;
            margin-left: 9.5rem;
            &>*+* {
                margin-left: 2.5rem;
            }
        }
    }

    &-links {
        font-size: 1.125rem;
        color: var(--color-white);
        text-transform: capitalize;
        &:hover,
        &:focus {
            color: var(--color-orange);
        }
        &.active {
            color: var(--color-orange);
            font-weight: var(--weight-500);
        }
    }
    &-cart{
        width: 24px;
        @include mediaMin(md){
            width: 32px;
        }
        @include mediaMin(xl){
            width: auto;
        }
    }
    & .btn {
        &-signin {
            @include mediaMin(lg){
                padding: 0.875rem 1.5rem;
                line-height: 22px;
                height: 49px;
                font-weight: var(--weight-700);
            }
            @include mediaMin(xxl){
                padding: .875rem 3.3125rem;
            }
        }

        &-cart {
            padding: 0.5rem;
            font-size: 1rem;
            @include mediaMin(md){
                padding:0.65rem;
            }
            @include mediaMin(lg) {
                font-size: 1.5rem;
                height: 49px;
                padding: 0.625rem;
            }
            @include mediaMin(xl){
                padding: 0.625rem 1.815rem .625rem 1.125rem;
                
            }
            & .pills {
                @extend %background-white;
                @extend %text-orange;
                font-size: .8125rem !important;
                top: -6px;
                right: -11px;
                @include mediaMin(lg){
                    top: 0;
                    right: -13px;
                }
            }
        }

    }
}