
@use "../utility/reuseble" as *;

.form{
    &-group{
        margin-bottom: 1rem;
    }
    &-input{
        border-color:  hsl( var(--color-hsl-dark) / 0.2) ;
        border-radius: 5px;
        &::placeholder{
            color: hsl( var(--color-hsl-dark) / 0.7) ;
            font-size: 0.97rem;
            @extend %fw-500;
        }  
    }
    &-checkbox{
        min-width: 1rem;
        margin-right: .5rem;
    }
    &-info{
        & > * {
            margin-bottom: 1rem;
        }
    }

} 